<launch>

    <!-- Lanzar Gazebo vacío -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />

    <!-- Procesar el archivo xacro y publicarlo como robot_description, pasando el argumento 'prefix' -->
    <param name="robot_description" command="$(find xacro)/xacro $(find rb1_base_description)/robots/rb1_dual_ur3.urdf.xacro" />

    <!-- Generar el modelo URDF en Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model rb1_dual_ur3" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rb1_base_description)/rviz_config.rviz"/>

</launch>
